In [1]:
import pandas as pd

In [3]:
file1 = 'Processed Data/AccountBalance-table2.7.csv'
file2 = 'Processed Data/ActiveRigs-table3.2.csv'

In [5]:
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)
merged_df = pd.merge(df1, df2, on=['Year', 'Country'])
merged_df.head()

             Country  Year AccountBalance-table2.7 ActiveRigs-table3.2
0            Algeria  1960                   2,674               2,674
1             Angola  1960                   1,688               1,688
2              Congo  1960                     132                 132
3  Equatorial Guinea  1960                       9                   9
4              Gabon  1960                     141                 141

In [7]:
import pandas as pd
import os

# Path to the folder containing CSV files
folder_path = 'Processed Data'  # Update with your folder path

# Get a list of all CSV files in the folder
all_files = os.listdir(folder_path)
csv_files = [file for file in all_files if file.endswith('.csv')]

# Initialize an empty DataFrame to store the merged data
merged_df = pd.DataFrame()

# Loop through each CSV file and merge based on 'year' and 'country' columns
for file in csv_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path)
    if merged_df.empty:
        merged_df = df
    else:
        merged_df = pd.merge(merged_df, df, on=['Year', 'Country'])

# Write the merged DataFrame to a new CSV file
merged_file_path = 'merged_data.csv'  # Update with your desired output file path
merged_df.to_csv(merged_file_path, index=False)

# Display a message when the process is complete
print(f"Merged data saved to {merged_file_path}")

merged_df.head()

Merged data saved to merged_data.csv

,Country,Year,AccountBalance-table2.7,ActiveRigs-table3.2,bioFuelProdution-table3.7,CrudeOilProdution-table3.5,crudeOilReserve-table3.1,ExportValue-table2.4,GDP-table2.2,GDPGrowthRate-table2.3,petroleumExport-table2.5,Population-table2.1,WellsCompleted-table3.3
0,Algeria,1960,"2,674","2,674","2,674","2,674","2,674","2,674","2,674","2,674","2,674","2,674","2,674"
1,Angola,1960,"1,688","1,688","1,688","1,688","1,688","1,688","1,688","1,688","1,688","1,688","1,688"
2,Congo,1960,132,132,132,132,132,132,132,132,132,132,132
3,Equatorial Guinea,1960,9,9,9,9,9,9,9,9,9,9,9
4,Gabon,1960,141,141,141,141,141,141,141,141,141,141,141